<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ProjetoLP2" connectionString="Server=DESKTOP-065R760\SQLEXPRESS;Database=ProjetoLP2;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsAppTrabalhoFinal.Properties.Settings.ProjetoLP2ConnectionString"
   connectionString="Data Source=DESKTOP-065R760\SQLEXPRESS;Initial Catalog=ProjetoLP2;Persist Security Info=True;User ID=ipca;Password=123456"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsAppTrabalhoFinal.Properties.Settings.ProjetoLP2ConnectionString1"
   connectionString="Data Source=DESKTOP-065R760\SQLEXPRESS;Initial Catalog=ProjetoLP2;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>